<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#about">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#projects">My Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id='about'>
  <br><br><br>
  <!--class="rounded mx-auto d-block"-->
  <img src="../assets/pro.png" style=" border-radius: 50%;display: block; margin-left: auto;
  margin-right: auto;" alt="Avatar" height="150" width="150">
  <br>
  <h3 align="center">Hi, my name is Nesrine Benaoun. I'm beginner backend developer.</h3>
  <br><br>
  <h4 align="center">Education :</h4>
  <div class="card" *ngFor="let i of studies" >
    <h5 align="center" class="card-header">{{i.name}}<a href="{{i.link}}">{{i.uni}}</a></h5>
    <div class="card-body">
      <p class="card-text">{{i.period}}</p>
      <p class="card-text">Relevant coursework: {{i.desc}}</p>
     <!-- <p class="card-text"><h3>Projects</h3>
        hello
       </p>-->
    </div>
  </div>
  <br><br>
  <h4 align="center">Work Experience :</h4>
    <div class="card" *ngFor="let i of Exp" >
      <h5 align="center" class="card-header">{{i.name}}</h5>
      <div class="card-body">
        <p class="card-text">{{i.period}}</p>
        <p class="card-text">Mission: {{i.desc}}</p>
      </div>
  </div>

  <br><br>
  <h4 align="center">My Skills :</h4>
  <ul class="list-group" style="text-align:center;">
      <li class="list-group-item d-flex justify-content-between align-items-center">
       JAVA
        <span class="badge bg-success">Good</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
         JAVASCRIPT 
         <span class="badge bg-success">Good</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
      SQL/NOSQL
        <span class="badge bg-success">Good</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Building Web Application with Spring boot
        <span class="badge bg-warning">Intermediate</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Building Web Application with Node.js
        <span class="badge bg-warning">Intermediate</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Building Web Applications with .NET
        <span class="badge bg-warning">Intermediate</span>
      </li>
        <!--<li class="list-group-item d-flex justify-content-between align-items-center">
          Building Web Applications with Node.js
          <span class="badge bg-primary">Beginner</span>
        </li>-->
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Building Frontend with Angular
        <span class="badge bg-warning">Intermediate</span>
      </li>
    </ul>
    <br>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Git
        <span class="badge bg-warning">Intermediate</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
         Docker
        <span class="badge bg-warning">Intermediate</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        AWS 
       <span class="badge bg-warning">Intermediate</span>
     </li>
    </ul>
    <br>
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
       LINUX
        <span class="badge bg-warning">Intermediate</span>
      </li>
    </ul>
</div>
<div id="projects">
  <br><br>
  <h4 align="center">My Projects:</h4>
      <div class="card" *ngFor="let p of Projects">
          <h5 align="center" class="card-header">{{p.name}}</h5>
          <div class="card-body">
            <p class="card-text">{{p.desc}}</p>
            <span class="badge rounded-pill bg-info text-dark">{{p.lang}}</span>
            <span><a href="{{p.link}}" class="btn btn-outline-primary btn-sm">  Check it</a></span>
          </div>
      </div>
      <br>
</div>
<div id="contact">
  <br><br>
  <h4 align="center">Contact Me:</h4>
  <h6 align="center">Languages I Speak: Arabic (Native), English (Intermediate), French (Intermediate)</h6>
  <h6 align="center">Gmail: nesrinebenoun@gmail.com</h6>
  <a align="center" class="nav-link p-2" href="https://github.com/NesrineKata" target="_blank" rel="noopener">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
      </svg>
  </a>
</div>